{{ if .Site.Params.sidebar.avatar.enabled }}
    <figure class="site-avatar">
        {{ if .Site.Params.sidebar.avatar.local }}
            {{ $avatar := resources.Get .Site.Params.sidebar.avatar.src }}
            {{ if $avatar }}
                <img src="{{ $avatar.RelPermalink }}" width="300" height="300" class="site-logo" loading="lazy" alt="Avatar">
            {{ else }}
                {{ errorf "Failed to get avatar from %q" .Site.Params.sidebar.avatar.src }}
            {{ end }}
        {{ else }}
            <img src="{{ .Site.Params.sidebar.avatar.src }}" width="300" height="300" class="site-logo" loading="lazy" alt="Avatar">
        {{ end }}
    </figure>
{{ end }} 